<div class="PageHeader-pageHeader">
    <div class="PageHeaderLeft-pageHeaderLeft">
        Brands
    </div>

    <div class="PageHeaderLeft-pageHeaderRight">

        <div class="quicksearch_inputcontainer">
            <div class="quicksearchinput_container">
                    <label for="search" class="quicksearchinput_icon">Search</label>
                    <input id="search" class="quicksearchinput_searchinput" ng-model="search" type="text" autocomplete="off" spellcheck="false">
            </div>
        </div>

    </div>
</div>

<div class="PageContent-pageContent Scroller-scroller Scroller-vertical">
    <div class="DiscoverPage-discoverPageContent PageContent-innerPageContent">
        <div style="margin-bottom: 20px">
            <div class="col-md-6 mx-auto">
                <div class="card dark_card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Label</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="boann_input">
                                            <input class="form-control input_boann" ng-model="form.brands">
                                        </div>
                                    </td>
                                    <td>
                                        <button ng-if="update == false" ng-click="addBrand(form)" class="btn btn-sm btn-indigo"><i class="far fa-edit"></i> Add</button>
                                        <button ng-if="update == true"  ng-click="updateBrand(form)" class="btn btn-sm btn-indigo"><i class="far fa-edit"></i> Update</button>
                                    </td>
                                </tr>
                                <tr ng-repeat="brand in brands">
                                    <td class="text-white" ng-bind-html="brand.name"></td>
                                    <td class="text-white" ng-bind-html="brand.label"></td>
                                    <td>
                                        <button ng-click="edit(brand)"   class="btn btn-sm btn-indigo"><i class="far fa-edit"></i></button>
                                        <button ng-click="remove(brand)" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
