<div class="PageHeader-pageHeader">
    <div class="PageHeaderLeft-pageHeaderLeft">
        Export Car
    </div>

    <div class="PageHeaderLeft-pageHeaderRight">

        <div class="quicksearch_inputcontainer">
            <div class="quicksearchinput_container">
                    <label for="search" class="quicksearchinput_icon">Search</label>
                    <input id="search" class="quicksearchinput_searchinput" ng-model="search" type="text" autocomplete="off" spellcheck="false">
            </div>
        </div>

    </div>
</div>


<div class="PageContent-pageContent Scroller-scroller Scroller-vertical">
    <div class="DiscoverPage-discoverPageContent PageContent-innerPageContent">
        <div style="margin-bottom: 20px">
            <style>
                optgroup, option {
                  background-color: #2d2d2d !important;
                }
            </style>

            <div class="row">
                <div class="col-md-6">
                    <div class="card dark_card">
                        <div class="card-body">
                            <h5>index.html / cardealer</h5>
                                <div class="boann_input">
                                    <select class="browser-default custom-select input_boann" ng-model="form.vehicleclass">
                                        <option ng-repeat="brand in brands" value="{{brand.uuid}}|{{brand.label}}" ng-bind-html="brand.label"></option>
                                    </select>
                                </div>
                                <button class="btn btn-sm btn-indigo" ng-click="submit(form)">List</button>
                            <hr>

                            <div ng-if="brandlist">
                                &#60optgroup label="{{brandlist}}"&#62;
                                    <div ng-repeat="car in exportlist" style="padding: 0px; margin: 0px;">
                                        <span>&#60option value="{{car.vehiclename}}"&#62;{{car.vehicledisplayname}}&#60/option&#62;</span>
                                    </div>
                                &#60/optgroup&#62;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card dark_card">
                        <div class="card-body">
                            <h5>Sheard.lua</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="boann_input">
                                        <label>Shops</label>
                                        <select class="browser-default custom-select input_boann" ng-model="list.shop">
                                            <option ng-repeat="shop in shops" value="{{shop.name}}" ng-bind-html="shop.label"></option>
                                        </select>
                                    </div>
                                    <button class="btn btn-sm btn-indigo" ng-click="filter(list)">List</button>
                                    <button class="btn btn-sm btn-indigo" ng-click="reload()">Reload</button>
                                </div>

                                <div class="col-md-6">
                                    <div class="boann_input">
                                        <label>Brands</label>
                                        <select class="browser-default custom-select input_boann" ng-model="list.vehicleclass">
                                            <option ng-repeat="brand in brands" value="{{brand.uuid}}|{{brand.label}}" ng-bind-html="brand.label"></option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <hr>
                            <div ng-if="!filterlist">Select SHOP or a BRAND</div>
<pre ng-if="filterlist" class="text-white">
    <div ng-repeat="car in filterlist" style="padding: 0px; margin: 0px;">
        ["{{car.vehiclename}}"] = {
            ["name"] = "{{car.vehicledisplayname}}",
            ["brand"] = "{{car.vehiclebrand}}",
            ["model"] = "{{car.vehiclename}}",
            ["price"] = {{car.price}},
            ["category"] = "{{car.vehicleclass}}",
            ["hash"] = GetHashKey("{{car.vehiclename}}"),
            ["image"] = "{{car.assets}}",
            ["trunkspace"] = 100000,
            ["trunkslots"] = 80,
            ["shop"] = "{{car.type}}",
        },
    </div>
</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
